In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import kraft

In [ ]:
import numpy as np
import pandas as pd

## error

In [ ]:
for an_ in [
    [1, 2],
    [1, None],
    [1, np.nan],
    ["a", "b"],
    ["a", None],
    ["a", np.nan],
    ["a", "b", "b"],
    ["a", "", ""],
]:

    print("=" * 80)

    print(an_)

    la_ = pd.Index(an_, name="Name")

    for ta in [pd.DataFrame(None, la_), pd.DataFrame(None, None, la_)]:

        try:

            kraft.table.error(ta)

        except AssertionError as er:

            print(er)

## count

In [ ]:
ta = pd.DataFrame(np.random.choice(list("ABC"), [8, 2]))

print(ta)

kraft.table.count(ta)

## sync

In [ ]:
da1 = pd.DataFrame(1, index=[8, -1, 0, 1], columns=["A", "B", "K"])

da2 = pd.DataFrame(2, index=[1, 8, 2, 3], columns=["B", "K", "C"])

da3 = pd.DataFrame(3, index=[3, 4, 8, 5], columns=["K", "C", "D"])

for ax in [0, 1]:

    print("=" * 80)

    for da in kraft.table.sync([da1, da2, da3], ax):

        print()

        print(da)

## drop*

In [ ]:
da = pd.DataFrame(np.random.randint(0, 4, [10, 10]), dtype=str)

for ie in range(da.shape[0]):

    da.iloc[ie, :ie] = None

da

## drop

In [ ]:
for ax in [0, 1]:

    for n_no in [None, 5, 6]:

        for n_un in [None, 4]:

            if n_no == n_un:

                continue

            print("=" * 80)

            print(ax, n_no, n_un)

            print(
                kraft.table.drop(
                    da,
                    ax,
                    n_no=n_no,
                    n_un=n_un,
                )
            )

## drop2

In [ ]:
for n_no in [None, 3, 4]:

    for n_un in [None, 2]:

        if n_no == n_un:

            continue

        for ax in [0, 1]:

            print("=" * 80)

            print(ax, n_no, n_un)

            print(
                kraft.table.drop2(
                    da,
                    ax=ax,
                    n_no=n_no,
                    n_un=n_un,
                )
            )

## sample

In [ ]:
da = pd.DataFrame(np.full([10, 8], ""))

for sh in [
    [1, None],
    [None, 1],
    [1, 1],
    [2, 2],
    [0.5, 0.5],
]:

    print("=" * 80)

    print(sh)

    print(kraft.table.sample(da, sh))

## map_to

In [ ]:
n_ro = 4

ta = pd.DataFrame(
    {
        "Dad": ["Kw{}".format(ie) for ie in range(n_ro)],
        "Mo": ["Ka{}".format(ie) for ie in range(n_ro)],
        "Ch1": ["Ay{}".format(ie) for ie in range(n_ro)],
    }
)

kraft.table.map_to(ta, "Mo")

## pivot

In [ ]:
ta = np.asarray(
    [
        ["A1", "B1", 0],
        ["A1", "B1", -1],
        ["A1", "B2", 1],
        ["A1", "B3", 3],
        ["A1", "B3", None],
        ["A2", "B1", 4],
        ["A2", "B2", 5],
        ["A2", "B3", 7],
        ["A2", "B3", np.nan],
    ]
)


def get_max(nu1, nu2):

    return np.max([nu1, nu2])


for fu in [None, max, get_max]:

    print("=" * 80)

    print(fu)

    print(
        kraft.table.pivot(
            ta[:, 0], ta[:, 1], ta[:, 2].astype(float), na1="A", na2="B", fu=fu
        )
    )