In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, '..')
import ccal
normalize_pandas_object = ccal.support.normalize_pandas_object

===============================================================================
==================== Computational Cancer Analysis Library ====================
===============================================================================
<18:46:46> Checking library dependencies ...
<18:46:46> Using the following libraries (in addition to the Anaconda libraries):
<18:46:46> 	scipy (v0.18.0)
<18:46:46> 	statsmodels (v0.6.1)
<18:46:46> 	scikit-learn (v0.17.1)
<18:46:46> 	seaborn (v0.7.1)
<18:46:46> 	rpy2 (v2.8.2)
<18:46:46> 	pandas (v0.18.1)
<18:46:46> 	matplotlib (v1.5.1)
<18:46:46> 	numpy (v1.11.1)
<18:46:46> Planted a random seed 20121020.

In [2]:
shape = (5, 5)
df = pd.DataFrame(np.random.choice([0, 2], shape))
df.iloc[0,:] = 1
df.iloc[1,:] = 0
df.iloc[2,:] = 100
df

     0    1    2    3    4
0    1    1    1    1    1
1    0    0    0    0    0
2  100  100  100  100  100
3    2    2    0    2    2
4    0    2    2    2    2

In [3]:
df.apply(lambda r: r * 2, axis=0)

     0    1    2    3    4
0    2    2    2    2    2
1    0    0    0    0    0
2  200  200  200  200  200
3    4    4    0    4    4
4    0    4    4    4    4

In [4]:
df.apply(lambda r: r * 2, axis=1)

     0    1    2    3    4
0    2    2    2    2    2
1    0    0    0    0    0
2  200  200  200  200  200
3    4    4    0    4    4
4    0    4    4    4    4

In [5]:
df.apply(lambda r: r * r.name, axis=0)

   0    1    2    3    4
0  0    1    2    3    4
1  0    0    0    0    0
2  0  100  200  300  400
3  0    2    0    6    8
4  0    2    4    6    8

In [6]:
df.apply(lambda r: r * r.name, axis=1)

     0    1    2    3    4
0    0    0    0    0    0
1    0    0    0    0    0
2  200  200  200  200  200
3    6    6    0    6    6
4    0    8    8    8    8

In [7]:
normalize_pandas_object(df)

<18:46:46> '-0-' normalizing pandas object with axis=all ...

          0         1         2         3         4
0 -0.501168 -0.501168 -0.501168 -0.501168 -0.501168
1 -0.526428 -0.526428 -0.526428 -0.526428 -0.526428
2  1.999618  1.999618  1.999618  1.999618  1.999618
3 -0.475907 -0.475907 -0.526428 -0.475907 -0.475907
4 -0.526428 -0.475907 -0.475907 -0.475907 -0.475907

In [8]:
normalize_pandas_object(df, axis=0)

<18:46:46> '-0-' normalizing pandas object with axis=0 ...

          0         1         2         3         4
0 -0.441504 -0.452795 -0.441504 -0.452795 -0.452795
1 -0.464030 -0.475434 -0.464030 -0.475434 -0.475434
2  1.788542  1.788539  1.788542  1.788539  1.788539
3 -0.418978 -0.430155 -0.464030 -0.430155 -0.430155
4 -0.464030 -0.430155 -0.418978 -0.430155 -0.430155

In [9]:
normalize_pandas_object(df, axis=1)

<18:46:46> '-0-' normalizing pandas object with axis=1 ...

          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN
3  0.447214  0.447214 -1.788854  0.447214  0.447214
4 -1.788854  0.447214  0.447214  0.447214  0.447214

In [10]:
normalize_pandas_object(df, method='0-1')

<18:46:46> '0-1' normalizing pandas object with axis=all ...

      0     1     2     3     4
0  0.01  0.01  0.01  0.01  0.01
1  0.00  0.00  0.00  0.00  0.00
2  1.00  1.00  1.00  1.00  1.00
3  0.02  0.02  0.00  0.02  0.02
4  0.00  0.02  0.02  0.02  0.02

In [11]:
normalize_pandas_object(df, method='0-1', axis=0)

<18:46:46> '0-1' normalizing pandas object with axis=0 ...

      0     1     2     3     4
0  0.01  0.01  0.01  0.01  0.01
1  0.00  0.00  0.00  0.00  0.00
2  1.00  1.00  1.00  1.00  1.00
3  0.02  0.02  0.00  0.02  0.02
4  0.00  0.02  0.02  0.02  0.02

In [12]:
normalize_pandas_object(df, method='0-1', axis=1)

<18:46:46> '0-1' normalizing pandas object with axis=1 ...

     0    1    2    3    4
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  1.0  1.0  0.0  1.0  1.0
4  0.0  1.0  1.0  1.0  1.0

In [13]:
s = df.iloc[:, 2]
s

0      1
1      0
2    100
3      0
4      2
Name: 2, dtype: int64

In [14]:
normalize_pandas_object(s)

<18:46:46> '-0-' normalizing pandas object with axis=all ...

0   -0.441504
1   -0.464030
2    1.788542
3   -0.464030
4   -0.418978
Name: 2, dtype: float64

In [15]:
normalize_pandas_object(s, axis=0)

<18:46:46> '-0-' normalizing pandas object with axis=0 ...

0   -0.441504
1   -0.464030
2    1.788542
3   -0.464030
4   -0.418978
Name: 2, dtype: float64

In [16]:
normalize_pandas_object(s, axis=1)

<18:46:46> '-0-' normalizing pandas object with axis=1 ...

0   -0.441504
1   -0.464030
2    1.788542
3   -0.464030
4   -0.418978
Name: 2, dtype: float64