In [1]:
import pandas

In [8]:
df = pandas.DataFrame([[1,2,3], [1,2,3], [1,2,3]])
df

   0  1  2
0  1  2  3
1  1  2  3
2  1  2  3

In [10]:
for i, s in df.iteritems():
    print(s)

0    1
1    1
2    1
Name: 0, dtype: int64
0    2
1    2
2    2
Name: 1, dtype: int64
0    3
1    3
2    3
Name: 2, dtype: int64